<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../stylesheet.css">
    <style>
      [data-width]       { display: none;  }
      [data-width="120"] { display: block; }

      @media (max-width: 999px) {
        [data-width]      { display: none;  }
        [data-width="80"] { display: block; }
      }

      @media (max-width: 599px) {
        [data-width]      { display: none;  }
        [data-width="40"] { display: block; }
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
