<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheet.css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@latest/dist/turbo.es2017-esm.min.js"></script>
    <script>
      const format = (breakpoint) =>
        document
          .querySelectorAll("turbo-frame")
          .forEach((el) => { el.src = `/turbo/${breakpoint}/` });

      const detectBreakepointChange = (callback) => {
        const widthToBreakpoint = (width) => {
          if      (width < 600)  { return 'sm'; } 
          else if (width < 1000) { return 'md'; } 
          else                   { return 'lg'; };
        };
        let currentBreakpoint = widthToBreakpoint(window.innerWidth);

        window.addEventListener("resize", () => {
          let breakpoint = widthToBreakpoint(window.innerWidth);

          if (breakpoint != currentBreakpoint) {
            currentBreakpoint = breakpoint;
            callback(breakpoint);
          };
        });
      };
      detectBreakepointChange(format);
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
